In [4]:
import pandas as pd
import numpy as np
import re

CLEANUP: 
has multiple genres & movieId (to link to ratings dataset).
Has DUPLICATE rows due to different movieID & genres (longest genre should be kept).
Other duplicates need to change the movieID to the movieID with the longest genre. Write an iterative code to check the length of genres, for the movie names that are duplicate, replace the movieId with the movieId that have the longest genre length.

You can see above that Pinocchio appears 4 times with different movieId. What I would like to do is merge the df above without losing the movieId and genres. What this means is, you must find the duplicates, keep the movieId in a replacement_df (old_movieId, new_movieId). Then you search by length <len()> of genres, and keep the movieId for the one with longest "genres".

So for movies_df above, assuming there are 4 "Pinocchio", then you want to keep movieId = 596 because the length is the longest for genres.

That also means, your replacement_df will be like this: old_movieId, new_movieId:- [5990,596] ; [90264,596] ; [126693,596]. This replacement_df is important because you need to replace for the ratings_df below too.

In [5]:
movies_df = pd.read_csv('output/disney_movies.csv')
movies_df.head()

,movieId,title,genres
0,594,Snow White and the Seven Dwarfs,Animation|Children|Drama|Fantasy|Musical
1,596,Pinocchio,Animation|Children|Fantasy|Musical
2,5990,Pinocchio,Children|Comedy|Fantasy
3,90264,Pinocchio,Children|Fantasy|Musical
4,126693,Pinocchio,Animation|Children

has multiple genres & movieId (to link to ratings dataset). WHEN the movieId is being replaced in the dataset above, we need to replace the movieId here too.

In [6]:
ratings_df = pd.read_csv('output/disney_ratings.csv')
ratings_df.head()

   userId  movieId  rating   timestamp
0       1     6377     4.0  1147868469
1       3     6377     4.0  1439472644
2       4     6377     3.0  1573939584
3      12     6377     4.0  1167582434
4      13     6377     4.0  1238029123

Once all the above is done, you remove any rows with old_movieId. Do it for both ratings_df and movies_df

In [8]:
movies_df['genres_length'] = movies_df['genres'].str.len()
movies_df.head()

,movieId,title,genres,genres_length
0,594,Snow White and the Seven Dwarfs,Animation|Children|Drama|Fantasy|Musical,40
1,596,Pinocchio,Animation|Children|Fantasy|Musical,34
2,5990,Pinocchio,Children|Comedy|Fantasy,23
3,90264,Pinocchio,Children|Fantasy|Musical,24
4,126693,Pinocchio,Animation|Children,18

In [38]:
for i in movies_df.index: 
     if movies_df["title"][i] == movies_df["title"][i+1] and movies_df['genres_length'][i] > movies_df['genres_length'][i+1]:
        print (movies_df["title"][i])
        print (movies_df["title"][i+1])
        print ('=======================')

Pinocchio
Pinocchio
=======================
Pinocchio
Pinocchio
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Cinderella
Cinderella
=======================
Lady and the Tramp
Lady and the Tramp
=======================
Sleeping Beauty
Sleeping Beauty
=======================
Sleeping Beauty
Sleeping Beauty
=======================
101 Dalmatians
101 Dalmatians
=======================
Babes in Toyland
Babes in Toyland
=======================
Freaky Friday
Freaky Friday
=======================
Freaky Friday
Freaky Friday
=======================
Freaky Friday
Freaky Friday
=======================
Freaky Friday
Freaky Friday
=======================
The Black Hole
The Black Hole
=======================
Amy
Amy
=======================
Off Beat
Off Beat
=======================
Adventures in Babysitting
Adventures in Babysitting
=======================
Shoot to Kill
Shoot to Kill
=======================
D.O.A.
D.O.A.
=======================
The Little Mermaid
The Little Mermaid
=======================
Blaze
Blaze
=======================
Stella
Stella
=======================
White Fang
White Fang
=======================
Oscar
Oscar
=======================
Paradise
Paradise
=======================
Paradise
Paradise
=======================
Paradise
Paradise
=======================
Beauty and the Beast
Beauty and the Beast
=======================
Beauty and the Beast
Beauty and the Beast
=======================
Beauty and the Beast
Beauty and the Beast
=======================
Aladdin
Aladdin
=======================
Alive
Alive
=======================
Alive
Alive
=======================
Indian Summer
Indian Summer
=======================
I Love Trouble
I Love Trouble
=======================
Angels in the Outfield
Angels in the Outfield
=======================
Bad Company
Bad Company
=======================
Bad Company
Bad Company
=======================
Mad Love
Mad Love
=======================
Mad Love
Mad Love
=======================
Jack
Jack
=======================
Metro
Metro
=======================
Hercules
Hercules
=======================
Hercules
Hercules
=======================
Mulan
Mulan
=======================
Mighty Joe Young
Mighty Joe Young
=======================
Instinct
Instinct
=======================
The Kid
The Kid
=======================
Double Take
Double Take
=======================
The Count of Monte Cristo
The Count of Monte Cristo
=======================
The Count of Monte Cristo
The Count of Monte Cristo
=======================
Big Trouble
Big Trouble
=======================
Signs
Signs
=======================
Around the World in 80 Days
Around the World in 80 Days
=======================
The Village
The Village
=======================
Dark Water
Dark Water
=======================
Sky High
Sky High
=======================
Chicken Little
Chicken Little
=======================
Casanova
Casanova
=======================
Déjà Vu
Déjà Vu
=======================
Underdog
Underdog
=======================
Bolt
Bolt
=======================
Earth
Earth
=======================
Alice in Wonderland
Alice in Wonderland
=======================
Alice in Wonderland
Alice in Wonderland
=======================
Alice in Wonderland
Alice in Wonderland
=======================
Alice in Wonderland
Alice in Wonderland
=======================
Tangled
Tangled
=======================
Fright Night
Fright Night
=======================
Brave
Brave
=======================
Frankenweenie
Frankenweenie
=======================
Frozen
Frozen
=======================
Frozen
Frozen
=======================
Into the Woods
Into the Woods
=======================
Into the Woods
Into the Woods
=======================
Inside Out
Inside Out
=======================
Inside Out
Inside Out
=======================
Doctor Strange
Doctor Strange
=======================

KeyError: 596